In [2]:
import pandas as pd
import numpy as np

In [4]:
ebp_url = 'https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/electrification_by_province.csv'
ebp_df = pd.read_csv(ebp_url)

for col, row in ebp_df.iloc[:,1:].iteritems():
    ebp_df[col] = ebp_df[col].str.replace(',','').astype(int)

ebp_df.head()

,Financial Year (1 April - 30 March),Limpopo,Mpumalanga,North west,Free State,Kwazulu Natal,Eastern Cape,Western Cape,Northern Cape,Gauteng
0,2000/1,51860,28365,48429,21293,63413,49008,48429,6168,39660
1,2001/2,68121,26303,38685,20928,64123,45773,38685,10359,36024
2,2002/3,49881,11976,28532,10316,63078,55748,28532,6869,32127
3,2003/4,42034,33515,34027,16135,60282,47414,34027,10976,39488
4,2004/5,54646,16218,21450,5668,37811,42041,21450,6316,18422

In [23]:
### START FUNCTION
def five_num_summary(items):
    
   
    "this function returns dictionary of five number summary"
    maximum = np.percentile(items,100)
    median = np.percentile(items,50)
    minimum = np.percentile(items,0)
    q1 = np.percentile(items,25)
    q3 = np.percentile(items,75)
    
    five_num_summary_dict = { 
    'max': maximum,
    'median': median,
    'min': minimum,
    'q1': q1,
    'q3': q3
   }

    return five_num_summary_dict
### END FUNCTION